@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 197 60% 97%;
    --foreground: 222.2 84% 4.9%;
    --card: 197 60% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 197 60% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 180 100% 25%;
    --primary-foreground: 180 100% 95%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 210 40% 9%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 210 40% 45.1%;
    --accent: 180 57% 66%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 20% 85%;
    --input: 180 20% 85%;
    --ring: 180 100% 25%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 180 10% 10%;
    --foreground: 180 5% 95%;
    --card: 180 10% 15%;
    --card-foreground: 180 5% 95%;
    --popover: 180 10% 15%;
    --popover-foreground: 180 5% 95%;
    --primary: 180 57% 66%;
    --primary-foreground: 180 100% 10%;
    --secondary: 180 10% 25%;
    --secondary-foreground: 180 5% 95%;
    --muted: 180 10% 25%;
    --muted-foreground: 180 5% 65%;
    --accent: 180 80% 40%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 15% 30%;
    --input: 180 15% 30%;
    --ring: 180 57% 66%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
